.service-card {
  border: 2px solid var(--border-color);
  border-radius: 24px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 28px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  border: 2px solid #5b5ef7;
  box-shadow: 0 0px 20px #7b61ff;
}

.service-icon-wrapper {
  flex-shrink: 0;
}

.service-icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid rgba(0, 0, 0, 0.151);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.service-icon-circle img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.service-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  /* color: var(--text-color); */
  margin-bottom: 12px;
}

.service-content p {
  color: var(--desc-color);
  line-height: 1.7;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .service-card {
    padding: 28px;
  }

  .service-content h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 408px) {
    .service-card {
        padding: 20px 10px;
    }
    .service-icon-circle {
        width: 70px;
        height: 70px;
    }
}